*{
    margin: 0;
    overflow: hidden;
}
body{
    background-image: url(https://images.unsplash.com/photo-1560306580-9e204fe45f3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img{ 
    width: 50vw;
    height: 12vh;
    font-family: 'Audiowide', cursive;
    color: white;
    line-height: initial;
       margin-left: 0;
    align-items: center;
    text-align: center;
    font-size:34px ;
    margin-left: 3rem;
    margin-top: 33px;
   
}

.para{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    padding-left: 0%;
}

.navbar{
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.navbar-nav{
    margin-top: 0;
}
.collapse {
    width: 70%;
    justify-content: right;
    align-items: flex-end;
    margin-left: 50%;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 0px;
    padding-right: 20px;
    align-items: flex-end;
    word-spacing: 20px;
    letter-spacing: 2.5px;
}
.nav-item{
    font-size: 15px;
    color: white;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 8px;
    
}
.collapse .nav-item :hover{
    background-color: white;
}
.collapse .navbar-nav .nav-item a:hover{
    color: black;
    transform: translateY(-3px);
}

.content{ 
    background-color: rgba(97, 91, 91, 0.1);
    margin: 16% auto;
    text-align: center;
    height: 45vh;
    width: 60vw;
    color: black;
}
.content p{
    font-size: 6.7vh;
    font-weight: bolder;
}
.content .btn{
    padding: 14px;
    font-size: 26px;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 0;
    border-radius: 8px;
}
.content .btn:hover{
    transform: translateY(-6px);
    background-color: rgb(129, 30, 116);
}